---
layout: page
description: "一顿操作猛如虎，一看战绩零杠五"
---
<style>
  .intro-header:before{
    content: "";
    position: absolute;
    width:150px;
    height: 100%;
    top: 0;
    left:-11.5%;
    overflow: hidden;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0)0, rgba(255, 255, 255, .2)50%, rgba(255, 255, 255, 0)100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .2)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0)0, rgba(255, 255, 255, .2)50%, rgba(255, 255, 255, 0)100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0)0, rgba(255, 255, 255, .2)50%, rgba(255, 255, 255, 0)100%);
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg)
}
.intro-header:hover:before {
    left: 100%;
    transition: left 2s ease 0s;
}
  svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
    </style>
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
<script>

　 var num=0;
  var sp = setInterval(function(){
    num++;
    $('.intro-header').css('background-image',"url('/img/example-slide-"+num+".jpg')");
    if(num>3){
      num=0
    }
  },2500);
  
 var str='<svg viewBox="0 0 600 300">
           
            <pattern id="p-fire" viewBox="30 100 186 200" patternUnits="userSpaceOnUse" width="216" height="200" x="-70" y="35">
               
                <image xlink:href="fire.gif" width="256" height="300"/>
            </pattern>
            
            <text text-anchor="middle" x="50%" y="50%" dy=".35em" class="text">小程同学| Blog 
			</text>
        </svg>'
  
    $('.site-heading'>h1).append(str)

  </script>
