<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="" class="dark">
<div id="spig" class="spig" style="overflow: visible;">
    	    <div id="message" style="overflow: visible; display: block;">别动手动脚的，把手拿开！</div>
            <div id="mumu" class="mumu" style=""></div>
</div>
    <div id="spig2" class="spig" style="overflow: visible;">
    	    <div id="message" style="overflow: visible; display: block;">我是在地球上成长的赛亚人！</div>
            <div id="mumu2" class="mumu2" style=""></div>
</div>
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->
<img src="/img/thug.png" class="thug-life">
</body>

</html>
